//grid breakpoints
$breakpoints_names: ('xs': 200px, 'sm': 769px, 'md': 1025px, 'lg': 1365px, 'xl': 1520px);

//how many colummn do you want in your grid
$grid-column-count: 12;

//default gap size between columns
$marginGap: 10px;

//column gaps sizes
$column_gap: (0, 20, 30);

//order item count
$order_numbers: (1,2,3,4,5,6,7,8);